
/* 以下内容为拷贝而来 */
::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    height: 10px;
    background: transparent;
    transition: all .8s;
}
::-webkit-slider-thumb {
    background-color: #89b8fe;
    border-radius: 2px;
    width: 100%;
}
::-webkit-scrollbar-track {
    background: transparent;
}
/* 以上内容为拷贝而来 */

* {
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei,Helvetica,Arial,Sans-Serif;
}

.logo1 {
    height: 30px;
    width: auto;
    background-color: transparent;
}
.nav {
    position: fixed;
    width: 130vw;
    height: 50px;
    color: #fff;
    z-index: 1;
    backdrop-filter: blur(50px);/*developer.mozilla.org/zh-CN/docs/Web/CSS/backdrop-filter*/
    box-shadow: 0 3px 8px rgb(0 0 0 / 10%);
    display: grid;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0 12px;
}

.navbar {
    display: flex;
    height: 4vh;
}

.navleft {
    position: relative;
    height: 2vh;
    margin-top: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}
.word {
    background-image: linear-gradient(90deg,#134664,#1e90ff);
    background-clip: text;
    -webkit-background-clip: text;/*用于网页文字颜色渐变的代码①*/
    -webkit-text-fill-color: transparent;/*用于网页文字颜色渐变的代码②*/
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #2d76be;
    font-size: 20px;
    font-weight: 700;
    margin-left: 12px;
    background-color: transparent;
    user-select: none;
}

.navright {
    display: flex;
    text-align: center;
    margin: auto;
    align-items: center;
    z-index: 2;
}

.botton1 {
    width: 100px;
    height: 30px;
    position: relative;
    display: flex;
}

.innerbotton1 {
    display: flex;
    position: relative;
    padding: 2px;
    border-radius: 3px;
    background-image: none;
    width: 80px;
    height: 30px;
    padding: 2px;
    overflow: hidden;
}

.bottonset1 {
    background: rgb(36, 67, 98);
    border-radius: 3px;
    width: 100%;
    height: 100%;


}

.innerbotton1 span {
    font-weight: 600;
    font-size: 15px;
    color: #f5f5f5;
}

.word2 {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
    opacity: .8;
    user-select: none;
    cursor: pointer;
}
.word2 a {
    text-decoration: none;
    color: #323130;
}

.cover {
    background-image: url(res/index/bg.png);
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    min-width: 1000px;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    z-index: 0;
    box-shadow: 0 3px 8px rgb(0 0 0 / 10%);
}

.container {
    height: 100%;
}

.covertitle {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.botton2 {
    display: flex;
    width: 100%;
    height: 45px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.innerbotton2 {
    display: grid;
    width: 250px;
    padding: 2px;
    border-radius: 10px;
    background-image: none;
}

.bottonset2 {
    background: rgb(50, 113, 186);
    border-radius: 10px;
    border: #1a3249 ;
}

.innerbotton2 span {
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
}

.bigtitle1 {
    background-image: linear-gradient(90deg,#134664,#1e90ff);
    background-clip: text;
    -webkit-background-clip: text;/*用于网页文字颜色渐变的代码①*/
    -webkit-text-fill-color: transparent;/*用于网页文字颜色渐变的代码②*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    color: #5385b4;
}

.bigtitle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: rgba(50,49,48,.9);
}

.bigtitle3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #6e6d6b;
    line-height: 2;
}


.titleblock {
    width: 100%;
    height: auto;
    margin-top: 8px;
    margin: 35px 0;
}

.titleslide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.littletitle {
    font-size: 18px;
    font-weight: 600;
    color: #3997f5;
}

.titleimage {
    margin-top: 8px;
    width: 180px;
}

.info {
    padding: 35px calc(50% - 640px);
}

.info .littlecontent1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 35px calc(50% - 640px);
    box-sizing: border-box;
}

.tinycontent1 {
    display: contents;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.divimage {
    width: 280px;
    height: auto;
}

.littleblock1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.PP {
    display: flex;
    padding: 0 18px;
}

.p1 {
    background-image: linear-gradient(90deg,#134664,#1e90ff);
    background-clip: text;
    -webkit-background-clip: text;/*用于网页文字颜色渐变的代码①*/
    -webkit-text-fill-color: transparent;/*用于网页文字颜色渐变的代码②*/
    font-size: 15px;
    font-weight: 600;
    line-height: 2;
}

.p2 {
    margin-top: 3px;
    font-size: 20px;
    font-weight: 600;
    color: #323130;
    line-height: 2;
}

.p3 {

    font-size: 18px;
    font-weight: 600;
    color: rgba(83,133,180,.849);
    line-height: 2;
    cursor: pointer;
}

.setright {
    display: flex;
    justify-content: flex-end;
}

.littleblock2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 50%;
}

.blockcon2 {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.image2 {
    width: 45px;
    height: auto;
}

.paracont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.paracont p {
    margin-left: 55px;
    font-size: 16px;
    color: #273742;
    line-height: 2;
}

.bubbleblock {
    position: relative;
    widows: 50%;
    height: 200px;
    max-width: 300px;
}

.bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 50%;
    user-select: none;
}

.imageblock {
    margin: 35px 0;
    width: 100%;
    height: 700px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    overflow: hidden;
}

.flapimage {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footinfo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    margin: 75px 0;
    padding: 35px calc(50% - 640px);
    box-sizing: border-box;
}

.fop p {
    background-image: linear-gradient(270deg,#7474bf,#348ac7);
    background-clip: text;
    -webkit-background-clip: text;/*用于网页文字颜色渐变的代码①*/
    -webkit-text-fill-color: transparent;/*用于网页文字颜色渐变的代码②*/
    font-size: 20px;
    font-weight: 600;
    line-height: 3;
    text-align: center;
}

.foote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 35px calc(50% - 640px);
    background: #1a3249;
    box-sizing: border-box;
}



.foote a {
    font-size: 12px;
    font-weight: lighter;
    color: hsla(0,0%,96.1%,.8);
    text-decoration: none;
}

.logo2 {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo2 p {
    margin-left: 5px;
    font-size: 15px;
    color: hsla(0,0%,96.1%,.6);
}

.footinfo2 {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 35px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
}

.footinfoblock {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2.5;
}

.footinfoblock p {
    font-weight: 700;
    color: hsla(0,0%,96.1%,.9);
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 35px;
    margin-top: 35px;
    font-size: 13px;
    color: hsla(0,0%,96.1%,.8);
}
